<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <style>
      p {
        font-family: 'Muli', sans-serif;
      }
    </style>

  </head>
  <body>
    <div class="card text-center" style="width: 20rem; margin: auto;">
      <%= image_tag("bluebasket.jpg", class: "card-img-top") %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= form_for(:session, url: login_path) do |f| %>
            <p><%= f.label :username, "Username:" %>
            <%= f.text_field :username %></p><br/>
            <p><%= f.label :password, "Password:" %>
            <%= f.password_field :password %></p><br/>
            <%= f.submit "Login", class: 'btn btn-success' %>
          <% end %>
        </li>
      </ul>
      <div class="card-block">
        <%= link_to "Create Account", new_user_path %><br><br>
        <%= link_to "Forgot my Password", password_reset_path %>
        <h6> Or </h6>
      </div>
      <div class="card-block">
        <button class='loginBtn  loginBtn--twitter '><%= link_to "Sign in with Twitter", twitter_login_path %></button><br><br
      </div>
    </div>
  </body>
</html>
