  <%= form_for @user, url: {action: "update"} do |f| %>
    <%= f.hidden_field :email, value: params['email'] %>
    <%= f.label :confirmation_code %>
    <%= f.text_field :confirmation_code %><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br>
    <%= f.submit "Submit" %></li>
  <% end %>

