<%= render "admin/shared/admin_side_nav" %>

<div style="margin-left:16%">
<%= render "admin/shared/admin_nav" %>

  <table>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Status</th>
      <th></th>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag(item.image, class: "thumbs") %></td>
        <td><%= link_to item.title, item_path(item) %></td>
        <td><p class="description"><%= item.description %></p></td>
        <td><%= number_to_currency(item.price) %></td>
        <td><%= item.status.capitalize %></td>
        <td class="edit"><%= button_to "Edit", edit_admin_store_item_path(@store, item), class: "btn btn-primary", method: :get %></td>
      </tr>
    <% end %>
  </table>
</div>
