<div id="main_background">
  <div id="main_title">
    <h1><%= @store.name %></h1>
  </div>
</div>

<div class="container bottom_margin">
  <div class="row">
<% @store.items.each do |item| %>
    <div class="col-md-3">
      <div class="card-group">
        <div class="item">
          <div class="card border-0 text-center">
            <div class="card-body">
              <h4 class="item_title"><%= link_to truncate(item.title, length: 50), item_path(item) %></h4>
              <%= link_to image_tag(item.image, class: 'display'), item_path(item) %>
              <p class="item_text"><%= truncate(item.description, length: 225) %></p>
              <p class="card-text"><%= number_to_currency(item.price) %></p>
              <% if item.active? %>
                <%= button_to "Add to Cart", cart_path(item_id: item.id), class: 'btn btn-info' %>
              <% else %>
                <p>Item Retired</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
  </div>
</div>
