<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
  </head>
  <body>
    <div class="text-center">
      <h1> Edit Account </h1>
    </div>
    <div class="card text-center" style="width: 20rem; margin: auto;">
      <%= image_tag("kittenbasket.jpg", class: "card-img-top") %>
      <div class="card-block">
        <h4 class="card-title"></h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= form_for(current_user) do |f| %>

            <%= f.label :first_name, "First Name:"%>
            <%= f.text_field :first_name%><br/>

            <%= f.label :last_name, "Last Name:" %>
            <%= f.text_field :last_name %><br/>

            <%= f.label :address, "Address:" %>
            <%= f.text_field :address %><br/>

            <%= f.label :email, "Email:" %>
            <%= f.text_field :email %><br/>

            <%= f.submit "Update", class: "btn btn-primary" %>
            <% end %>
        </li>
      </ul>
    </div>

  </body>
</html>
