<div class="text-center" style="margin: auto;">
  <h1>Your Profile</h1>
  <h2><strong><%= current_user.full_name %></strong></h2>
  <h5><strong>Username: </strong><%= current_user.username %></h5>
  <h5><strong>Address: </strong> <%= current_user.address %></h5>
  <h5><strong>Email: </strong><%= current_user.email %></h5>
  <button class="round"><%= link_to "View past orders", orders_path %></button>
  <button class="round"><%= link_to "Edit Account", edit_user_path(current_user)  %>
</div>
