<div class="container-fluid buffer">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("basketguy.jpg", class: "d-block w-80 img-fluid") %>
        <div class="carousel-caption d-none d-md-block leitbild-text">
          <h1>Underwater Basket Weaving</h1>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("basket.jpg", class: "d-block w-80 img-fluid") %>
        <div class="carousel-caption d-none d-md-block leitbild-text">
          <h1>Weaving Supplies</h1>
        <p>Reeds, Basket Bases, Palm Fronds, Ceramic Bases</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("snorkel-key-west-6.jpg", class: "d-block w-80 img-fluid") %>
        <div class="carousel-caption d-none d-md-block leitbild-text">
          <h1>Snorkeling Gear</h1>
        <p>Snorkels, Fins, Masks</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("Underwater-Scuba-diver-explore-and-enjoy-Coral-reef-Sea-life.jpg", class: "d-block w-80 img-fluid") %>
        <div class="carousel-caption d-none d-md-block leitbild-text">
          <h1>Scuba Diving Gear</h1>
        <p>Vests, Tanks, Rigs, Masks, Fins</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("basket_2.jpg", class: "d-block w-80 img-fluid") %>
        <div class="carousel-caption d-none d-md-block leitbild-text">
          <h1>Completed Baskets</h1>
        <p>Baskets, Baskets, Baskets!</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
