<%= form_for([:admin, @store]) do |f| %>
  <div class="form_group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form_group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="form_group">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>
  <%= f.submit class: "btn btn-success" %>
<% end %>
