<div class="text-center" style="margin: auto;">
      <h1>Admin Dashboard</h1>
      <h2><strong><%= current_user.full_name %></strong></h2>
      <h5><strong>Username: </strong><%= current_user.username %></h5>
      <h5><strong>Address: </strong><%= current_user.address %></h5>
      <h5><strong>Email: </strong><%= current_user.email %></h5>
      <button class="round"><%= link_to "View My Stores", admin_dashboard_path %></button>
      <button class="round"><%= link_to "Edit Account", edit_user_path(current_user) %></button>
      <button class="round all-items"><%= link_to "View all items", admin_store_items_path(@store) %></button>
      <button class="round"><%= link_to "Create New Item", new_admin_store_item_path(@store) %></button>
  </div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Store Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#orders" role="tab">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Items</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Analytics</a>
  </li>
</ul>
<div>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel">
    <%= render "admin/shared/store" %>
  </div>
  <div class="tab-pane" id="orders" role="tabpanel">
    <%= render "admin/shared/orders" %>
  </div>
  <div class="tab-pane" id="items" role="tabpanel">...</div>
  <div class="tab-pane" id="analytics" role="tabpanel">...</div>
</div>
</div>
