<div class="container-fluid">
  <br>
  <h1><strong><%= "Order #{@order.id}" %></strong></h1>
  <br>
      <h3>Order placed by: <%= @order.user_full_name %></h3>
      <h3>Address: <%= @order.user_address %></h3>
      <h5>Placed on: <%= @order.created_at %></h5>
      <h5>Order Status: <%= @order.status %></h5>
      <h5>Total cost: <%= number_to_currency(@order.total_price) %></h5>
  <table class="table table-striped table-bordered text-left">
    <tr>
      <th></th>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  <% @order_items.each do |order_item| %>
    <tr>
      <td><%= image_tag(order_item.item.image, class: 'thumbs') %></td>
      <td><%= link_to order_item.item.title, item_path(order_item.item) %></td>
      <td><%= number_to_currency(order_item.item.price) %></td>
      <td><%= order_item.quantity %></td>
      <td><%= number_to_currency(order_item.line_item_total) %></td>
    </tr>
  <% end %>
</table>
