<h1>Item Index</h1>

<% @items.each do |item| %>
  <%= item.title %>
  <%= item.description %>
  <%= item.price %>
  <%= image_tag(item.image)%>
  <%= button_to "Add to cart", cart_path(item_id: item.id) %>
<% end %>
