<div class="container-fluid">
  <h1><%= @item.title %></h1>
    <p><%= image_tag(@item.image, class: "display") %></p>
    <p><%= @item.description %></p>
    <p><%= number_to_currency(@item.price) %></p>
  <% if @item.active? %>
    <%= button_to "Add to Cart", cart_path(item_id: @item.id), class: 'add-to-cart btn btn-success' %>
  <% else %>
    <p>Item Retired</p>
  <% end %>
  <% if current_user && current_user.admin? %>
    <br />
    <%= button_to "Toggle Retire", retire_path(@item), class: "btn btn-danger" %>
  <% end %>
</div>
