<% content_for :head do %>
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Oswald|Quicksand" rel="stylesheet">
<% end %>

<div class="container-fluid"><br/>

  <div class="card card-inverse">
    <%= image_tag("Water-Ocean-l.jpg", class: "card-img") %>
    <div class="card-img-overlay">
      <h1 class="card-title"><%= @category.title %></h4>
    </div>
  </div>

  <div class="row">
    <% @category.items.each do |item| %>
    <div class="col-sm-4">
      <div class="card-group">
        <div class="card border-0 text-center">
          <div class="card-body">
            
            <h4 class="card-title categories-card-title"><%= link_to item.title, item_path(item) %></h4>
            <%= link_to image_tag(item.image, class: 'display'), item_path(item), class: "category-card-link" %>
            <p class="card-text category-card-text"><%= item.description %></p>
            <p class="card-text category-card-text"><%= number_to_currency(item.price) %></p>

            <% if item.active? %>
                <%= button_to "Add to Cart", cart_path(item_id: item.id), class: 'btn btn-secondary add-to-cart' %>
            <% else %>
              <p>Item Retired</p>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
