<h1>Admin Dashboard</h1>

<div class="profile">
  <h1>Your Profile</h1>
  <h2> <%= current_user.full_name %></h2>
  <p>username: <%= current_user.username %></p>
  <p> <%= current_user.address %></p>
  <p> <%= current_user.email %></p>
  <button class="round"><%= link_to "View past orders", orders_path %></button>
  <button class="round"><%= link_to "Edit Account", edit_user_path(current_user)  %>
</div>