<h1>Admin Dashboard</h1>

<div class="profile">
  <h1>Your Profile</h1>
  <h2> <%= current_user.full_name %></h2>
  <p>username: <%= current_user.username %></p>
  <p> <%= current_user.address %></p>
  <p> <%= current_user.email %></p>
  <button class="round"><%= link_to "View past orders", orders_path %></button>
  <button class="round"><%= link_to "Edit Account", edit_user_path(current_user) %></button>
  <button class="round all-items"><%= link_to "View all items", admin_items_path %></button>
</div>

<table class="table table-striped text-left table-bordered">
  <thead><strong>All Orders</strong></thead>
  <tr>
    <th>Order ID</th>
    <th>Full Name</th>
    <th>Status</th>
    <th>Total Price</th>
  </tr>
  <tbody>
    <tr><% @orders.each do |order| %></tr>
    <td><%= link_to order.id, order_path(order) %></td>
    <td><%= order.user.full_name %></td>
    <td><%= order.status %></td>
    <td><%= order.total_price %></td>
    <% end %>
  </tbody>
</table>

<table class="table table-striped text-left table-bordered">
  <thead><strong>Order Count By Category</strong></thead>
  <tr>
    <th>Ordered</th>
    <th>Paid</th>
    <th>Cancelled</th>
    <th>Completed</th>
  </tr>
  <tbody>
    <tr>
    <td><%= @orders.ordered_count%></td>
    <td><%= @orders.paid_count %></td>
    <td><%= @orders.cancelled_count %></td>
    <td><%= @orders.completed_count %></td>
    </tr>
  </tbody>
</table>
