<div class="text-center" style="margin: auto;">
  <h1>Admin Dashboard</h1>
  <h2><strong><%= current_user.full_name %></strong></h2>
  <h5><strong>Username: </strong><%= current_user.username %></h5>
  <h5><strong>Address: </strong><%= current_user.address %></h5>
  <h5><strong>Email: </strong><%= current_user.email %></h5>
</div>

<div class="stores">
  <% @stores.each do |store| %>
    <%= link_to (image_tag(store.image)), admin_store_path(store), class: store.name %>
    <%= current_user.user_roles.find_by(store: store).role.name %>
  <% end %>
</div>
