
<br><br>
<table class="table table-striped text-left table-bordered", style="margin-top:6%">
  <tr>
    <th>Order ID</th>
    <th>Full Name</th>
    <th>Address</th>
    <th>Item</th>
    <th>Quantity</th>
    <th>Total Price</th>
    <th>Status</th>
    <th>Change to Paid/Completed</th>
    <th>Cancel Order</th>
  </tr>
  <tbody>
    <tr><% @paginated_orders.each do |paginated_order| %></tr>
      <td><%= paginated_order.order.id %></td>
      <td><%= paginated_order.order.user.full_name %></td>
      <td><%= paginated_order.order.user.address %></td>
      <td><%= paginated_order.item.title %>
      <td><%= paginated_order.quantity %></td>
      <td><%= number_to_currency(paginated_order.line_item_total) %></td>
      <td><%= paginated_order.status.capitalize %></td>
        <% @order = paginated_order %>
      <td class="order">
        <% if @order.ordered? %>
          <%= button_to "Paid", admin_order_item_path(@order, status: "paid"), method: :patch, class: "btn btn-primary" %>
        <% end %>
        <% if @order.paid? %>
          <%= button_to "Completed", admin_order_item_path(@order, status: "completed"), method: :patch, class: "btn btn-primary" %>
        <% end %>
      </td>
      <td class="order-cancel">
        <% if paginated_order.ordered? || paginated_order.paid? %>
          <%= button_to "Cancel", admin_order_item_path(@order, status: "cancelled"), method: :patch, class: "btn btn-danger" %>
        <% end %>
      </td>
    <% end %>
    <%= will_paginate @paginated_orders %>
  </tbody>
</table>


<table class="table table-striped text-left table-bordered">
  <thead><strong>Orders By Status</strong></thead>
  <tr>
    <th><%= link_to 'Ordered', admin_ordered_path %></th>
    <th><%= link_to 'Paid', admin_paid_path %></th>
    <th><%= link_to 'Cancelled', admin_cancelled_path %></th>
    <th><%= link_to 'Completed', admin_completed_path %></th>
  </tr>
  <tbody>
    <tr>
      <td><%= @paginated_orders.ordered_count %></td>
      <td><%= @paginated_orders.paid_count %></td>
      <td><%= @paginated_orders.cancelled_count %></td>
      <td><%= @paginated_orders.completed_count %></td>
    </tr>
  </tbody>
</table>
