<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <p> Logged in as <%= current_user.username %>
      <%= link_to "User Page", user_path(current_user)%>
      <%= button_to "Logout", logout_path, method: :delete %></p>
    <% end %>
    
    <% flash.each do |type, message| %>
    <%= content_tag :div, message, class: "flash_#{type}" %>
    <% end %>

    <%= yield %>
  </body>
</html>
