<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Fredericka+the+Great|Monoton" rel="stylesheet">
  </head>
  <style>
  nav>h5 {
    text-align: center;
  }
  </style>

  <body>
      <% if current_user && current_user.admin? %>
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">Dashboard</a>
          </li>
        <% elsif current_user %>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
        <% end %>
        </ul>

        <%= link_to image_tag("glyphicons-203-shopping-cart.png"), cart_path, class: "cart logout" %>
        <%=  @cart.total_count %>
        <% if logged_in? %>
        <button class="btn btn-link" type="button" name="logout"><%= link_to "Logout", logout_path, method: :delete %></button>
            <span class="navbar-text">Logged in as <%= current_user.username %>
          </span>
            <% else %>
          <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
          <% end %>

      </div>

      <%= link_to "All Items", items_path %>
      <%= link_to "All Stores", stores_path %>
      <%= link_to "All Categories", categories_path %>

    <% flash.each do |name, msg| %>
      <div class="alert alert-success" role="alert">
        <%= content_tag :div, raw(msg), class: name %>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
</html>
