<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'fonts', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'grid', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'navigation', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Fredericka+the+Great|Monoton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>
  <body>
    <ul>
      <li><h1 class="logo"><a href="/">Little Shop of Useless Things</a></h1></li>
      <li><a href="/items">Items</a></li>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/stores">Stores</a></li>
      <% if current_user && current_user.is_admin? %>
        <li style="float:right"><a class="active" href="/admin/dashboard">Dashboard</a></li>
      <% elsif current_user %>
        <li style="float:right"><a class="active" href="/dashboard">Dashboard</a></li>
      <% end %>
      <% if logged_in? %>
        <li style="float:right"><a class="active" href="/logout" data-method="delete">Logout</a></li>
      <% else %>
        <li style="float:right"><a class="active" href="/login">Login</a></li>
      <% end %>
      <li style="float:right">
        <%= link_to image_tag("glyphicons-203-shopping-cart.png"), cart_path, class: "cart logout" %>
      </li>
      <li style="float:right">
        <%=  @cart.total_count %>
      </li>
    </ul>
    <% flash.each do |name, msg| %>
      <div class="alert alert-success" role="alert">
        <%= content_tag :div, raw(msg), class: name %>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    
  </body>    
  <footer>
    <div class="footer">
      <div class="about_us">
        <h6><a href="https://github.com/mimilettd/little_shop_of_useless_items" target="_blank">About Us</a></h6>
      </div>
    </div>
  </footer>
</html>
