<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
    <div class="alert alert-success">

     <%= content_tag :div, raw(msg), class: name %></div>
  <% end %>
    <%= yield %>
  </body>
</html>
